.receipt-final {
  width: 820px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
  color: #000;
  background-color: white;
}

.border-bottom-light {
  border-bottom: 1px solid #bbb;
}

.money-box-title {
  border: 1px solid #999;
  padding: 4px 12px;
  display: inline-block;
  border-left: 3px double #000;
  border-right: 3px double #000;
  font-size: 1rem;
}

.table th, .table td {
  padding: 6px 10px !important;
  font-size: 0.85rem;
  vertical-align: middle;
}
